src/main/resources/config/ssc/98.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="employmentService" targetNamespace="http://service.server.employment.neusoft.com" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.server.employment.neusoft.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xsd:schema targetNamespace="http://service.server.employment.neusoft.com" xmlns:ns0="http://service.server.employment.neusoft.com" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.server.employment.neusoft.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="queryResponse">
                <xsd:sequence>
                    <xsd:element form="qualified" minOccurs="0" name="queryresult" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="query">
                <xsd:sequence>
                    <xsd:element form="qualified" minOccurs="0" name="account" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="password" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="function" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="param" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="sendResponse">
                <xsd:sequence>
                    <xsd:element form="qualified" minOccurs="0" name="sendresult" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="send">
                <xsd:sequence>
                    <xsd:element form="qualified" minOccurs="0" name="sender" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="function" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="operatorName" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="transId" type="xsd:string"/>
                    <xsd:element form="qualified" minOccurs="0" name="param" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="queryResponse" type="ns0:queryResponse"/>
            <xsd:element name="query" type="ns0:query"/>
            <xsd:element name="sendResponse" type="ns0:sendResponse"/>
            <xsd:element name="send" type="ns0:send"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="send">
        <wsdl:part element="tns:send" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sendResponse">
        <wsdl:part element="tns:sendResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryResponse">
        <wsdl:part element="tns:queryResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="query">
        <wsdl:part element="tns:query" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EmploymentWebService">
        <wsdl:operation name="send">
            <wsdl:input message="tns:send" name="send">
            </wsdl:input>
            <wsdl:output message="tns:sendResponse" name="sendResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="query">
            <wsdl:input message="tns:query" name="query">
            </wsdl:input>
            <wsdl:output message="tns:queryResponse" name="queryResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="employmentServiceSoapBinding" type="tns:EmploymentWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="send">
            <soap:operation soapAction="http://service.server.employment.neusoft.com/services/employmentService/send" style="document"/>
            <wsdl:input name="send">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="query">
            <soap:operation soapAction="http://service.server.employment.neusoft.com/services/employmentService/query" style="document"/>
            <wsdl:input name="query">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="employmentService">
        <wsdl:port binding="tns:employmentServiceSoapBinding" name="EmploymentWebServiceImplPort">
            <soap:address location="http://59.207.104.216:8989/jyServices/employmentService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>